.status {
	display: inline-block;
	width: 8px;
	height: 8px;
	/*background: url(../img/status.png?d=1415077322) no-repeat 0 -50px;*/
	border: 1px solid transparent;
}

.status.approved {
	background-position: 0 0;
	background-color: #00b639;
}

.status.pending {
	background-position: 0 -10px;
	background-color: #F2842D;
}

.status.spam {
	background-color: #d41110;
}

.status.trashed {
	background-color: #b9b9b9;
}


.elementindex th[data-attribute="id"],
.elementindex td[data-titlecell] {
	display: none;
}

.elementindex td[data-title="Comment"] {
    width: 40%;
}

.elementindex td[data-title="Rating"] {
	text-align: center;
	padding: 0 !important;
}


.elementindex .status, .elementindex .rating {
	margin: 0 10px 0 13px !important;
}

.elementindex .comment-block a {
	float: left;
}

.elementindex .comment-block a small {
	width: 90%;
	color: #aaa;
	font-size: 85%;
	display: block;
}

.elementindex .comment-block a:hover {
	text-decoration: none;
}

.elementindex .comment-block a:hover small {
	color: #666;
	text-decoration: none;
}

.elementindex .comment-block a:hover span {
	text-decoration: underline;
}









/* Permissions table */

#settings-permissions .check-all {
	cursor: pointer;
	font-size: 11px;
	font-weight: bold;
	margin-left: 10px;
}

#settings-permissions .indent td:first-child {
	padding-left: 20px;
}

#settings-permissions .elementTypeCheckbox td:first-child label {
	font-weight: bold;
}




/* Settings sub-navigation */

.settings-tabs {
	background: none;
	margin: 0 0 25px 0;
	padding: 0;
	border-bottom: 1px #eee solid;

	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;

    -webkit-font-smoothing: antialiased;
}

.settings-tabs > .tabs {
	margin: 0;
	padding: 0;
	background: none;

	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
}

.settings-tabs > .tabs li .tab.sel {
    color: #288ce4;

	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
}

.settings-tabs > .tabs li a {
	font-weight: bold;
    font-size: 11px;
    padding: 0 10px 10px 10px;
}

.settings-tabs > .tabs li.label {
	font-weight: bold;
	text-transform: uppercase;
	color: #bbb;
	font-size: 11px;
	margin-right: 10px;
}


